<h1 id="title">{{title}}</h1>
<div class="container">
  <div class="row justify-content-around">
    <div class="col">
      <img src="/assets/cat-shades.jpeg" class="cats img-fluid rounded-4 shadow" alt="Cool cat with sunglasses">
    </div>
    <div class="col">
      <div class="container">
        <div class="mt-4 mb-4">
          <div class="input-group">
            <span class="input-group-text">Num 1</span>
            <input type="number" class="form-control shadow-sm" id="num1" [(ngModel)]="num1">
          </div>
        </div>
        <div class="mt-4 mb-4">
          <div class="input-group">
            <span class="input-group-text">Num 2</span>
            <input type="number" class="form-control shadow-sm" id="num2" [(ngModel)]="num2">
          </div>
        </div>
      </div>
      <div class="container text-center col-8">
        <button id="add" type="button" class="btn btn-primary" (click)="add()">Add</button>
        <button id="subtract" type="button" class="btn btn-primary" (click)="subtract()">Subtract</button>
        <button id="multiply" type="button" class="btn btn-primary" (click)="multiply()">Multiply</button>
        <button id="divide" type="button" class="btn btn-primary" (click)="divide()">Divide</button>
        <p class="result" *ngIf="result != null && result >= 0">Result: {{result}}<p>
      </div>
    </div>
    <div class="col">
      <img src="/assets/condescending-cat.jpeg" class="cats img-fluid rounded-4 shadow" alt="Cat looking at you judgingly">
    </div>
  </div>
</div>
